<div class="flex flex-col flex-1">
    <!-- Header -->
    <div class="relative w-full px-8">
        <!-- Close button -->
        <div class="flex items-center justify-end w-full mx-auto pt-4">
            <a mat-icon-button [matTooltip]="'Close'" [routerLink]="['../']" (click)="closeEditDrawer()">
                <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </a>
        </div>
    </div>

    <app-users-form class="mt-4" [isCreate]="isCreateUser" (cancel)="closeEditDrawer()"></app-users-form>

    <!-- Tabs -->
    <mat-tab-group
        class="user-details-tab-group flex flex-1 mt-4"
        mat-stretch-tabs="false"
        [animationDuration]="'0'"
        *ngIf="!isCreateUser">
        <!-- Applications -->
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="inline-flex items-center space-x-2">
                    <span class="">{{ 'Navigation.Roles' | transloco }}</span>
                    <span class="px-2 py-1 text-sm rounded-full bg-red-600 text-white">
                        {{ userRoles?.totalCount ?? 0 }}
                    </span>
                </span>
            </ng-template>

            <div class="relative flex flex-col flex-auto overflow-hidden">
                <!-- <div class="flex justify-between">
                    <div class="flex flex-1 space-x-2 justify-between mb-4">
                <mat-form-field class="flex-1 fuse-mat-dense w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-icon class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>

                    <input matInput
                        [formControl]="userApplicationsSearchInputControl"
                        [autocomplete]="'off'"
                        [placeholder]="'General.Search' | transloco" />

                    <button type="button"
                        *ngIf="userApplicationsSearchInputControl.value"
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="userApplicationsSearchInputControl.setValue('')">
                        <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                    </button>
                </mat-form-field>
                <div class="ml-auto">
                    <button mat-stroked-button
                        [routerLink]="['applications']">
                        <mat-icon [svgIcon]="'heroicons_outline:pencil-square'"></mat-icon>
                        {{ 'Users.EditPermissions' | transloco }}
                    </button>
                </div>
            </div>
</div> -->

                <!-- Roles -->
                <div class="flex flex-1 flex-col h-full">
                    <div class="overflow-y-auto h-[600px]">
                        <div class="group bg-white p-3 border-b last:border-b-0 flex flex-col justify-between">
                            <div class="flex flex-row">
                                <!-- <div class="flex flex-1 flex-col mb-2">
                                    <div class="text-2xl font-semibold leading-tight">
                                        {{ application.name }}
                                    </div>
                                    <div class="text-md text-secondary">
                                        {{ application.description }}
                                    </div>
                                </div> -->

                                <!-- Actions Menu -->
                                <button
                                    mat-icon-button
                                    [matMenuTriggerFor]="roleMenu"
                                    (click)="$event.stopPropagation()">
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'heroicons_mini:ellipsis-vertical'"></mat-icon>
                                </button>

                                <mat-menu #roleMenu="matMenu">
                                    <!-- Edit -->
                                    <button mat-menu-item [routerLink]="['applications', application?.id]">
                                        <span class="flex items-center">
                                            <mat-icon
                                                class="icon-size-5 mr-3"
                                                [svgIcon]="'heroicons_outline:pencil-square'"></mat-icon>
                                            <span>{{ 'General.Edit' | transloco }}</span>
                                        </span>
                                    </button>
                                </mat-menu>
                            </div>

                            <div class="flex flex-1 flex-wrap space-x-4">
                                <div
                                    *ngFor="let role of userRoles.items; trackBy: trackByFn"
                                    class="fuse-vertical-navigation-item-badge-content px-2.5 py-1 bg-teal-400 text-black rounded-full">
                                    {{ role.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <mat-paginator
                    class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                    [length]="userRoles?.totalCount ?? 0"
                    [pageIndex]="userRoles?.pageIndex ?? 0"
                    [pageSize]="userRoles?.pageSize ?? 10"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    (page)="handle($event)"
                    [showFirstLastButtons]="true"></mat-paginator>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
