<div class="flex flex-col flex-1">
    <!-- Header -->
    <div class="relative w-full px-8">
        <!-- Close button -->
        <div class="flex items-center justify-end w-full mx-auto pt-4">
            <a mat-icon-button [matTooltip]="'Close'" [routerLink]="['../']" (click)="closeEditDrawer()">
                <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </a>
        </div>
    </div>

    <app-users-form class="mt-4" [isCreate]="isCreateUser" (cancel)="closeEditDrawer()"></app-users-form>

    <app-user-roles class="flex flex-auto flex-col" [applicationRoles]="roles" [userRoles]="userRoles"></app-user-roles>
</div>
