// Common tab group styles
.common-tab-group {
    display: flex;
    flex: 1;
    height: 100%;
    margin-top: 1rem;

    .mat-mdc-tab-body-wrapper {
        flex-grow: 1;
    }

    .mat-mdc-tab-body-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
    }

    .mat-mdc-tab.mat-mdc-tab-disabled {
        opacity: 1;
        pointer-events: none;
    }
}

// Common status container styles
.status-container {
    display: flex;
    align-items: center;
}

.color-box {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
    border: 1px solid black;
}