<div class="relative flex flex-col flex-auto shrink-0 lg:shrink p-3 lg:overflow-y-auto bg-gray-100 dark:bg-transparent"
    fuseScrollReset>

    <!-- Main -->
    <div class="absolute inset-0 flex flex-col flex-0 shadow rounded-2xl overflow-hidden bg-card dark:bg-black dark:bg-opacity-10 m-4">

        <!-- Invoice -->
        <div class="min-w-240 p-16 rounded-2xl shadow bg-card print:w-auto print:p-0 print:rounded-none print:shadow-none print:bg-transparent overflow-y-auto">

            <div class="flex items-start">
                <div class="grid grid-rows-2 place-items-start gap-y-12">
                    <div class="grid auto-cols-max grid-flow-col gap-x-8">
                        <div class="place-self-center w-24">
                            <img class="w-24"
                                src="assets/images/logo/logo.png">
                        </div>
                        <div class="pl-10 border-l text-md">
                            <div class="font-medium">Turislucca</div>
                            <div>Via Fabio Filzi 37</div>
                            <div>Lucca</div>
                            <div>P.IVA 02020600462</div>
                            <div>0583 342404</div>
                            <div>turislucca@turislucca.com</div>
                            <div>www.turislucca.com</div>
                        </div>
                    </div>
                    <div class="grid auto-cols-max grid-flow-col gap-x-8">
                        <div class="place-self-center w-24 text-center text-2xl text-secondary">
                            Bill To
                        </div>
                        <div class="pl-10 border-l text-md">
                            <div class="font-medium">{{document.client.displayName}}</div>
                            <div>{{document.client.address}}</div>
                            <div>{{document.client.cap}} {{document.client.city}} {{document.client.regionalCode}}</div>
                            <div>CF: {{document.client.fiscalCode}}</div>
                            <div>PIVA: {{document.client.taxCode}}</div>
                            <div *ngIf="document.client.sex==='A'">IdDocumento: [{{document.cig}}] - CIG: [{{document.cig}}] - CUP: [{{document.cup}}]</div>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-x-4 gap-y-1 ml-auto">
                    <div *ngIf="document.type!=='NC'"
                        class="justify-self-end font-bold text-4xl tracking-tight">FATTURA</div>
                    <div *ngIf="document.type==='NC'"
                        class="justify-self-end font-bold text-4xl tracking-tight">NOTA DI CREDITO</div>
                    <div class="font-bold text-4xl">{{document?.sectional}}-{{document?.number}}</div>
                    <div class="justify-self-end font-bold text-2xl tracking-tight text-secondary">
                        TOTALE DOCUMENTO</div>
                    <div class="font-bold text-2xl">€ {{document?.amount | number: '2.2'}}</div>
                    <div class="justify-self-end font-bold text-2xl tracking-tight text-secondary">DATA DOCUMENTO</div>
                    <div class="font-bold text-2xl">{{document?.date | date: 'dd/MM/yyyy'}}</div>
                    <div class="justify-self-end font-bold text-2xl tracking-tight text-secondary">DATA SCADENZA</div>
                    <div class="font-bold text-2xl">{{document?.dataScadenzaPagamento | date: 'dd/MM/yyyy'}}</div>
                    <div class="justify-self-end font-bold text-2xl tracking-tight text-secondary">DATA INCASSO</div>
                    <div *ngIf="document?.dataIncasso"
                        class="font-bold text-2xl">{{document?.dataIncasso | date: 'dd/MM/yyyy'}}</div>
                    <div *ngIf="!document?.dataIncasso">
                        <button class="flex space-x-2"
                            mat-flat-button
                            color="primary"
                            (click)="setIncasso()">
                            <mat-icon svgIcon="heroicons_outline:currency-euro" class="mr-2"></mat-icon>
                            <span>{{ 'General.AddIncasso' | transloco }}</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-12 gap-x-1 mt-16 overflow-y-auto">
                <!-- Columns -->
                <div class="col-span-7 font-medium text-md text-secondary">SERVICE</div>
                <div class="font-medium text-md text-right text-secondary">QTY</div>
                <div class="font-medium text-md text-right text-secondary">PRICE</div>
                <div class="font-medium text-md text-right text-secondary">% DISCOUNT</div>
                <div class="font-medium text-md text-right text-secondary">TOTAL</div>
                <div class="font-medium text-md text-right text-secondary">% VAT</div>

                <ng-container *ngFor="let item of document?.items; trackBy: trackByFn">
                    <!-- Divider -->
                    <div class="col-span-12 my-4 border-b"></div>

                    <!-- Item -->
                    <div class="col-span-7"
                        (dblclick)="showDetail(item)">
                        <div class="text-lg font-medium">
                            <mat-icon *ngIf="!item.selected"
                                svgIcon="heroicons_outline:plus-circle"
                                (click)="item.selected = !item.selected"
                                class="mr-2"></mat-icon>
                            <mat-icon *ngIf="item.selected"
                                svgIcon="heroicons_outline:minus-circle"
                                (click)="item.selected = !item.selected"
                                class="mr-2"></mat-icon>
                            {{item.code}} - {{item.description}}
                        </div>
                    </div>
                    <div class="self-center text-right">{{item.quantity}}</div>
                    <div class="self-center text-right">€ {{item.price | number: '2.2'}}</div>
                    <div class="self-center text-right">{{item.discountPercentage | number: '2.2'}} %</div>
                    <div class="self-center text-right">€ {{item.rowAmount | number: '2.2'}}</div>
                    <div class="self-center text-right">{{item.vatRate | number: '2.2'}} %</div>

                    <div *ngIf="item.selected"
                        class="col-span-12 mt-4 p-4 bg-yellow-100 rounded-lg border">
                        <ng-container>
                            <div class="grid grid-cols-12 gap-2">
                                <mat-form-field class="col-span-2">
                                    <mat-label>{{ 'DocumentItem.Code' | transloco }}</mat-label>
                                    <input matInput
                                        disabled
                                        [(ngModel)]="item.code" />
                                </mat-form-field>
                                <mat-form-field class="col-span-10">
                                    <mat-label>{{ 'DocumentItem.Description' | transloco }}</mat-label>
                                    <input matInput
                                        disabled
                                        [(ngModel)]="item.description" />
                                    <span matSuffix
                                        class="bg-orange-400"
                                        style="cursor: zoom-in;"
                                        (click)="openService(item)"> Open Service </span>
                                </mat-form-field>
                            </div>
                            <div class="grid grid-cols-12 gap-2">
                                <mat-form-field class="col-span-3">
                                    <mat-label>{{ 'DocumentItem.AliquotaIVA' | transloco }}</mat-label>
                                    <input matInput
                                        disabled
                                        [(ngModel)]="item.vat.name" />
                                </mat-form-field>
                                <mat-form-field class="col-span-3">
                                    <mat-label>{{
                                        'DocumentItem.CodiceEsigibilitaIVA' | transloco
                                        }}</mat-label>
                                    <input matInput
                                        disabled
                                        [(ngModel)]="item.codiceEsigibilitaIVA.name" />
                                </mat-form-field>
                                <mat-form-field class="col-span-3">
                                    <mat-label>{{ 'DocumentItem.CodiceNatura' | transloco }}</mat-label>
                                    <input matInput
                                        disabled
                                        [(ngModel)]="item.codiceNatura" />
                                </mat-form-field>
                                <mat-form-field class="col-span-3">
                                    <mat-label>{{
                                        'DocumentItem.RiferimentoNormativo' | transloco
                                        }}</mat-label>
                                    <input matInput
                                        disabled
                                        [(ngModel)]="item.riferimentoNormativo" />
                                </mat-form-field>
                            </div>
                            <div class="grid grid-cols-12 gap-2">
                                <mat-form-field class="col-span-2">
                                    <mat-label>{{ 'DocumentItem.Quantity' | transloco }}</mat-label>
                                    <input matInput
                                        disabled
                                        type="number"
                                        [(ngModel)]="item.quantity" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label>{{ 'DocumentItem.Price' | transloco }}</mat-label>
                                    <input matInput
                                        disabled
                                        type="number"
                                        [(ngModel)]="item.price"
                                        onchange="refreshAmounts(item)" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label>{{
                                        'DocumentItem.DiscountPercentage' | transloco
                                        }}</mat-label>
                                    <input matInput
                                        disabled
                                        type="number"
                                        [(ngModel)]="item.discountPercentage"
                                        (ngModelChange)="refreshAmounts(item)" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label>{{ 'DocumentItem.RowAmount' | transloco }}</mat-label>
                                    <input matInput
                                        disabled
                                        type="number"
                                        [(ngModel)]="item.rowAmount"
                                        disabled />
                                </mat-form-field>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>


                <!-- Spacer -->
                <div class="col-span-12 mt-16"></div>

                <!-- Subtotal -->
                <div class="col-span-10 self-center font-medium tracking-tight text-secondary">IMPONIBILE</div>
                <div class="col-span-2 text-right text-lg">€ {{document.amount | number: '2.2'}}</div>
                <div class="col-span-12 my-3 border-b"></div>

                <!-- Tax -->
                <div class="col-span-10 self-center font-medium tracking-tight text-secondary">IVA</div>
                <div class="col-span-2 text-right text-lg">€ {{document.vat | number: '2.2'}}</div>
                <div class="col-span-12 my-3 border-b"></div>

                <!-- Bollo -->
                <div class="col-span-10 self-center font-medium tracking-tight text-secondary">IMPORTO BOLLO</div>
                <div class="col-span-2 text-right text-lg">€ {{document.importoBollo | number: '2.2'}}</div>
                <div class="col-span-12 my-3 border-b"></div>

                <!-- Discount -->
                <!-- <div class="col-span-10 self-center font-medium tracking-tight text-secondary">DISCOUNT</div>
                <div class="col-span-2 text-right text-lg">€ {{document.discount | number: '2.2'}}</div>
                <div class="col-span-12 my-3 border-b"></div> -->

                <!-- Total -->
                <div class="col-span-10 self-center text-2xl font-medium tracking-tight text-secondary">Totale Documento</div>
                <div class="col-span-2 text-right text-2xl font-medium">€ {{document.total | number: '2.2'}}</div>
            </div>

            <div class="mt-16">
                <div class="font-medium whitespace-pre-line">{{document.desTipoPagamento}}</div>
                <div class="font-medium">{{document.sdiCodiceTipoPagamento}} - {{document.sdiValoreTipoPagamento}}</div>
            </div>

        </div>

    </div>

</div>
