<div class="relative flex flex-col flex-auto shrink-0 lg:shrink lg:overflow-y-auto" fuseScrollReset>
    <div class="absolute inset-0 flex flex-col flex-0 overflow-hidden">
        <mat-tab-group class="applications-scopes-tab-group" [mat-stretch-tabs]="false">
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="inline-flex items-center space-x-2">
                        <mat-icon [svgIcon]="'heroicons_outline:information-circle'"></mat-icon>
                        <span class="">{{ 'General.Information' | transloco }}</span>
                    </span>
                </ng-template>

                <div class="flex flex-1 overflow-hidden h-full">
                    <div class="flex flex-1 flex-col">
                        <!-- Main actions -->
                        <div class="flex items-center p-8">
                            <!-- Delete -->
                            <button
                                *ngIf="!isCreate"
                                mat-flat-button
                                [color]="'warn'"
                                [matTooltip]="'General.Delete' | transloco"
                                (click)="deleteScope()">
                                <mat-icon
                                    class="text-red-500 icon-size-5 mr-3"
                                    [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                {{ 'General.Delete' | transloco }}
                            </button>

                            <!-- Cancel -->
                            <button
                                class="ml-auto"
                                mat-stroked-button
                                [matTooltip]="'General.Cancel' | transloco"
                                (click)="closeDetails()">
                                {{ 'General.Cancel' | transloco }}
                            </button>

                            <!-- Save -->
                            <button
                                class="ml-2"
                                mat-flat-button
                                [color]="'primary'"
                                [matTooltip]="'General.Save' | transloco"
                                (click)="updateOrCreateScope()">
                                {{ 'General.Save' | transloco }}
                            </button>
                        </div>

                        <app-application-scopes-form
                            class="h-full"
                            [scope]="scope"
                            [scopeGroups]="allApplicationScopeGroups"></app-application-scopes-form>
                    </div>
                </div>
            </mat-tab>

            <mat-tab class="flex-1">
                <ng-template mat-tab-label>
                    <span class="inline-flex items-center space-x-2">
                        <span class="">{{ 'Navigation.Roles' | transloco }}</span>
                        <span class="px-2 py-1 text-sm rounded-full bg-red-600 text-white">
                            {{ scopeRoles?.totalCount ?? 0 }}
                        </span>
                    </span>
                </ng-template>

                <div class="flex flex-col flex-1 h-full">
                    <!-- Filter -->
                    <div class="mb-4">
                        <mat-form-field class="fuse-mat-dense w-full" [subscriptSizing]="'dynamic'">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>

                            <input
                                matInput
                                [formControl]="scopeRolesSearchInputControl"
                                [autocomplete]="'off'"
                                [placeholder]="'General.Search' | transloco" />

                            <button
                                type="button"
                                *ngIf="scopeRolesSearchInputControl.value"
                                matSuffix
                                mat-icon-button
                                aria-label="Clear"
                                (click)="scopeRolesSearchInputControl.setValue('')">
                                <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <div class="flex flex-col flex-1 h-full overflow-auto">
                        <ng-container *ngFor="let role of scopeRoles?.items; let i = index; trackBy: trackByFn">
                            <!-- Group -->
                            <ng-container *ngIf="i === 0 || role.name[0] !== scopeRoles?.items[i - 1].name[0]">
                                <div
                                    class="z-10 sticky top-0 -mt-px px-6 py-1 md:px-8 border-t border-b font-medium uppercase text-secondary bg-gray-50 dark:bg-gray-900">
                                    {{ role.name[0] }}
                                </div>
                            </ng-container>

                            <div
                                class="bg-white p-3 border-b last:border-b-0 flex flex-row justify-between items-center">
                                <div class="flex flex-1">
                                    <div class="min-w-0 ml-4">
                                        <div class="font-medium leading-5 truncate">
                                            {{ role.name }}
                                        </div>
                                        <div class="leading-5 truncate text-secondary">
                                            {{ role.description }}
                                        </div>
                                    </div>
                                </div>

                                <!-- Actions Menu -->
                                <button
                                    mat-icon-button
                                    [matMenuTriggerFor]="roleMenu"
                                    (click)="$event.stopPropagation()">
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'heroicons_mini:ellipsis-vertical'"></mat-icon>
                                </button>

                                <mat-menu #roleMenu="matMenu">
                                    <button mat-menu-item (click)="$event.stopPropagation(); editRole(role?.id)">
                                        <span class="flex items-center">
                                            <mat-icon
                                                class="icon-size-5 mr-3"
                                                [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                                            <span>{{ 'General.Edit' | transloco }}</span>
                                        </span>
                                    </button>
                                </mat-menu>
                            </div>
                        </ng-container>
                    </div>

                    <mat-paginator
                        class="flex m-auto w-full border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [length]="scopeRoles?.totalCount ?? 0"
                        [pageIndex]="scopeRoles?.pageIndex ?? 0"
                        [pageSize]="scopeRoles?.pageSize ?? 10"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        (page)="handleScopeRolesPageEvent($event)"
                        [showFirstLastButtons]="true"></mat-paginator>
                </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="inline-flex items-center space-x-2">
                        <span class="">{{ 'Navigation.Users' | transloco }}</span>
                        <span class="px-2 py-1 text-sm rounded-full bg-red-600 text-white">
                            {{ scopeUsers?.totalCount ?? 0 }}
                        </span>
                    </span>
                </ng-template>

                <div class="flex flex-col flex-1 h-full">
                    <!-- Filter -->
                    <div class="mb-4">
                        <mat-form-field class="fuse-mat-dense w-full" [subscriptSizing]="'dynamic'">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>

                            <input
                                matInput
                                [formControl]="scopeUsersSearchInputControl"
                                [autocomplete]="'off'"
                                [placeholder]="'General.Search' | transloco" />

                            <button
                                type="button"
                                *ngIf="scopeUsersSearchInputControl.value"
                                matSuffix
                                mat-icon-button
                                aria-label="Clear"
                                (click)="scopeUsersSearchInputControl.setValue('')">
                                <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <div class="flex flex-col flex-1 h-full overflow-auto">
                        <ng-container *ngFor="let user of scopeUsers?.items; let i = index; trackBy: trackByFn">
                            <!-- Group -->
                            <ng-container *ngIf="i === 0 || user.lastName[0] !== scopeUsers?.items[i - 1].lastName[0]">
                                <div
                                    class="z-10 sticky top-0 -mt-px px-6 py-1 md:px-8 border-t border-b font-medium uppercase text-secondary bg-gray-50 dark:bg-gray-900">
                                    {{ user.lastName[0] }}
                                </div>
                            </ng-container>

                            <div
                                class="bg-white p-3 border-b last:border-b-0 flex flex-row justify-between items-center">
                                <div class="flex flex-1">
                                    <div
                                        class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                                        <ng-container *ngIf="user.avatarUrl">
                                            <img
                                                class="object-cover w-full h-full"
                                                [src]="user.avatarUrl"
                                                alt="User avatar" />
                                        </ng-container>
                                        <ng-container *ngIf="!user.avatarUrl">
                                            <div
                                                class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                                {{ user.firstName[0] }}
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="min-w-0 ml-4">
                                        <div class="font-medium leading-5 truncate">
                                            {{ user.firstName + ' ' + user.lastName }}
                                        </div>
                                        <div class="leading-5 truncate text-secondary">
                                            {{ user.userName }}
                                        </div>
                                    </div>
                                </div>

                                <!-- Actions Menu -->
                                <button
                                    mat-icon-button
                                    [matMenuTriggerFor]="roleMenu"
                                    (click)="$event.stopPropagation()">
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'heroicons_mini:ellipsis-vertical'"></mat-icon>
                                </button>

                                <mat-menu #roleMenu="matMenu">
                                    <button mat-menu-item (click)="$event.stopPropagation(); editUser(user?.id)">
                                        <span class="flex items-center">
                                            <mat-icon
                                                class="icon-size-5 mr-3"
                                                [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                                            <span>{{ 'General.Edit' | transloco }}</span>
                                        </span>
                                    </button>
                                </mat-menu>
                            </div>
                        </ng-container>
                    </div>

                    <mat-paginator
                        class="flex m-auto w-full border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [length]="scopeUsers?.totalCount ?? 0"
                        [pageIndex]="scopeUsers?.pageIndex ?? 0"
                        [pageSize]="scopeUsers?.pageSize ?? 10"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        (page)="handleScopeUsersPageEvent($event)"
                        [showFirstLastButtons]="true"></mat-paginator>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
