<div class="flex flex-col flex-auto overflow-y-auto lg:overflow-hidden bg-card dark:bg-default">
    <ng-container *ngIf="journalEntry; else selectJournalEntryToView">
        <!-- Header -->
        <div class="z-10 relative flex flex-col flex-0 w-full border-b">
            <!-- Toolbar -->
            <div class="flex items-center min-h-16 px-4 md:px-6 border-b bg-gray-50 dark:bg-transparent space-x-2">
                <!-- Back button -->
                <a class="lg:hidden md:-ml-2" mat-icon-button [routerLink]="['./../']">
                    <mat-icon [svgIcon]="'heroicons_outline:arrow-long-left'"></mat-icon>
                </a>

                <!-- View Mode -->
                <ng-container *ngIf="!editMode">
                    <div class="flex flex-1 justify-between items-center">
                        <div class="flex space-x-2">
                            <!-- Edit JournalEntry -->
                            <button *ngIf="userCanUpdateJournalEntry" mat-flat-button color="primary" (click)="edit()">
                                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                                <span>{{ 'General.Edit' | transloco }}</span>
                            </button>
                        </div>
                    </div>

                    <!-- Toolbar -->
                    <div class="flex items-center min-h-16 px-4 md:px-6 border-b bg-gray-50 dark:bg-transparent">
                        <!-- Back button -->
                        <a class="lg:hidden md:-ml-2" mat-icon-button [routerLink]="['./../']">
                            <mat-icon [svgIcon]="'heroicons_outline:arrow-long-left'"></mat-icon>
                        </a>

                        <!-- Other actions button & menu -->
                        <button class="ml-2" mat-icon-button [matMenuTriggerFor]="mailMenu">
                            <mat-icon [svgIcon]="'heroicons_outline:ellipsis-vertical'"></mat-icon>
                        </button>
                        <mat-menu #mailMenu="matMenu">
                            <button mat-menu-item (click)="menuItem1(journalEntry)">
                                <mat-icon [svgIcon]="'heroicons_outline:envelope-open'"></mat-icon>
                                <span>Menu Item 1</span>
                            </button>
                            <button mat-menu-item (click)="menuItem1(journalEntry)">
                                <mat-icon [svgIcon]="'heroicons_outline:envelope'"></mat-icon>
                                <span>Menu Item 2</span>
                            </button>
                        </mat-menu>
                    </div>
                </ng-container>

                <!-- Edit Mode -->
                <ng-container *ngIf="editMode">
                    <!-- Cancel Edit JournalEntry -->
                    <button mat-stroked-button (click)="cancel()">
                        <span>{{ 'General.Cancel' | transloco }}</span>
                    </button>

                    <!-- Save JournalEntry -->
                    <button
                        *ngIf="userCanUpdateJournalEntry"
                        mat-flat-button
                        color="primary"
                        (click)="save()"
                        [disabled]="!editJournalEntry?.changed">
                        <span>{{ 'General.Save' | transloco }}</span>
                    </button>
                </ng-container>
            </div>

            <ng-container *ngIf="!editMode">
                <!-- JournalEntry Info -->
                <div class="flex flex-wrap items-center py-4 px-6">
                    <div class="relative flex flex-auto flex-col text-2xl">
                        <div class="flex justify-between mb-4">
                            <div class="flex flex-1 items-center space-x-2 z-10">
                                <mat-icon
                                    (click)="handleBookmark(journalEntry)"
                                    class="icon-size-2"
                                    [ngClass]="journalEntry.bookmarkId ? 'text-yellow-500' : ''"
                                    [svgIcon]="
                                        journalEntry.bookmarkId ? 'heroicons_solid:star' : 'heroicons_outline:star'
                                    "
                                    [matTooltip]="
                                        (journalEntry.bookmarkId ? 'General.RemoveBookmark' : 'General.MarkAsBookmark')
                                            | transloco
                                    "></mat-icon>

                                <mat-icon
                                    (click)="handleCheck(journalEntry)"
                                    class="icon-size-2"
                                    [ngClass]="journalEntry.checked ? 'text-green-500' : ''"
                                    [svgIcon]="
                                        journalEntry.checked
                                            ? 'heroicons_solid:check-circle'
                                            : 'heroicons_outline:check-circle'
                                    "
                                    [matTooltip]="
                                        (journalEntry.checked ? 'JournalEntry.Checked' : 'JournalEntry.ToBeCheck')
                                            | transloco
                                    "></mat-icon>

                                <span class="">[{{ journalEntry.code }}] - {{ journalEntry.title }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <!-- View Mode -->
        <ng-container *ngIf="!editMode">
            <!-- not edit mode -->
            <app-journalEntry-view
                #viewJournalEntry
                class="flex flex-1"
                [journalEntry]="journalEntry"></app-journalEntry-view>
        </ng-container>

        <!-- Edit Mode -->
        <ng-container *ngIf="editMode">
            <!-- edit mode -->
            <app-journalEntry-edit
                #editJournalEntry
                class="flex flex-1"
                [journalEntry]="journalEntry"></app-journalEntry-edit>
        </ng-container>
    </ng-container>

    <!-- Select journalEntry to view template -->
    <ng-template #selectJournalEntryToView>
        <div class="flex flex-col flex-auto items-center justify-center bg-gray-100 dark:bg-transparent">
            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">
                {{ 'JournalEntry.SelectAJournalEntry' | transloco }}
            </div>
        </div>
    </ng-template>
</div>
