<div class="flex flex-col flex-auto md:w-160 md:min-w-160 max-h-160 -m-6 overflow-y-auto">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8">
        <div class="text-lg font-medium">
            {{ 'ChangePassword.Title' | transloco }}
        </div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <!-- Form -->
    <form
        cdkTrapFocus
        [cdkTrapFocusAutoCapture]="true"
        class="flex flex-col flex-0 items-start w-full p-6 sm:p-8 space-y-6 overflow-y-auto"
        [formGroup]="form">
        <!-- Old Password -->
        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
            <mat-label>
                {{ 'ChangePassword.OldPassword' | transloco }}
            </mat-label>
            <input type="password" cdkFocusInitial matInput [formControlName]="'oldPassword'" #oldPasswordField />
            <button
                mat-icon-button
                type="button"
                (click)="
                    oldPasswordField.type === 'password'
                        ? (oldPasswordField.type = 'text')
                        : (oldPasswordField.type = 'password')
                "
                matSuffix>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="oldPasswordField.type === 'password'"
                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="oldPasswordField.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
            </button>
            <mat-error>
                {{ 'ChangePassword.OldPasswordRequiredError' | transloco }}
            </mat-error>
        </mat-form-field>

        <!-- New Password -->
        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
            <mat-label>
                {{ 'ChangePassword.NewPassword' | transloco }}
            </mat-label>
            <input type="password" matInput [formControlName]="'newPassword'" #newPasswordField />
            <button
                mat-icon-button
                type="button"
                (click)="
                    newPasswordField.type === 'password'
                        ? (newPasswordField.type = 'text')
                        : (newPasswordField.type = 'password')
                "
                matSuffix>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="newPasswordField.type === 'password'"
                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="newPasswordField.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
            </button>
            <mat-error>
                {{ 'ChangePassword.NewPasswordRequiredError' | transloco }}
            </mat-error>
        </mat-form-field>

        <!-- Confirm New Password -->
        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
            <mat-label>
                {{ 'ChangePassword.PasswordConfirmation' | transloco }}
            </mat-label>
            <input type="password" matInput [formControlName]="'passwordConfirmation'" #passwordConfirmationField />
            <button
                mat-icon-button
                type="button"
                (click)="
                    passwordConfirmationField.type === 'password'
                        ? (passwordConfirmationField.type = 'text')
                        : (passwordConfirmationField.type = 'password')
                "
                matSuffix>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="passwordConfirmationField.type === 'password'"
                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="passwordConfirmationField.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
            </button>
            <mat-error *ngIf="form.get('passwordConfirmation').hasError('required')">
                {{ 'ChangePassword.PasswordConfirmationRequiredError' | transloco }}
            </mat-error>
            <mat-error *ngIf="form.get('passwordConfirmation').hasError('mustMatch')">
                {{ 'ChangePassword.PasswordsMustMatchError' | transloco }}
            </mat-error>
        </mat-form-field>
    </form>

    <!-- Footer -->
    <div class="flex flex-0 items-center justify-end h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-gray-100 space-x-4">
        <button mat-flat-button (click)="matDialogRef.close(false)" [tabIndex]="-1">
            {{ 'General.Cancel' | transloco }}
        </button>
        <button mat-flat-button (click)="onSubmit()" [tabIndex]="-1" [color]="'primary'" [disabled]="!form.valid">
            {{ 'General.Save' | transloco }}
        </button>
    </div>
</div>
