<!-- Filter -->
<mat-form-field
    cdkTrapFocus
    [cdkTrapFocusAutoCapture]="true"
    [ngClass]="inputClass"
    [appearance]="appearance"
    [floatLabel]="floatLabel"
    [subscriptSizing]="subscriptingSizing">
    <mat-label *ngIf="label">{{ label | transloco }}</mat-label>
    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>

    <input
        cdkFocusInitial
        matInput
        [formControl]="searchInputControl"
        [autocomplete]="autocomplete"
        [placeholder]="placeholder | transloco" />

    <button
        type="button"
        *ngIf="searchInputControl.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchInputControl.setValue('')">
        <mat-icon [svgIcon]="'heroicons_solid:x-circle'"></mat-icon>
    </button>
</mat-form-field>
