<div
    class="relative flex flex-col flex-auto shrink-0 lg:shrink p-3 lg:overflow-y-auto bg-gray-100 dark:bg-transparent"
    fuseScrollReset>
    <div
        class="absolute inset-0 flex flex-col flex-0 shadow rounded-2xl overflow-hidden bg-card dark:bg-black dark:bg-opacity-10 m-4">
        <mat-tab-group
            class="common-tab-group"
            mat-stretch-tabs="false"
            [animationDuration]="'0'"
            (selectedTabChange)="onSelectedTabChange()">
            <!-- Contact Info -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_outline:information-circle'"></mat-icon>
                    {{ 'Contact.ContactInfo' | transloco }}
                </ng-template>
                <ng-template matTabContent>
                    <div class="flex flex-col flex-1 overflow-y-auto">
                        <!-- Tags -->
                        <app-tag-filters
                            class="flex flex-1 w-full"
                            [selectedTags]="item?.tags"
                            (selectionChange)="onTagsSelectionChange($event)"></app-tag-filters>

                        <div class="flex flex-col">
                            <div class="grid grid-cols-12 gap-2 w-full">
                                <mat-form-field class="col-span-1">
                                    <mat-label for="code">Code</mat-label>
                                    <input
                                        matInput
                                        class="form-control font-bold"
                                        id="code"
                                        name="code"
                                        #name="ngModel"
                                        [(ngModel)]="item.code"
                                        (ngModelChange)="checkChanged()" />
                                    <!-- <div *ngIf="code?.invalid && (code?.dirty || code?.touched)">
                                        <div *ngIf="code?.errors?.required">Code is required.</div>
                                    </div> -->
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label for="title">Title</mat-label>
                                    <input
                                        matInput
                                        class="form-control font-bold"
                                        id="title"
                                        name="title"
                                        #name="ngModel"
                                        [(ngModel)]="item.title"
                                        (ngModelChange)="checkChanged()" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label for="firstName">First Name</mat-label>
                                    <input
                                        matInput
                                        class="form-control font-bold"
                                        id="firstName"
                                        name="firstName"
                                        #name="ngModel"
                                        [(ngModel)]="item.firstName"
                                        (ngModelChange)="checkChanged()" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label for="lastName">Last Name</mat-label>
                                    <input
                                        matInput
                                        class="form-control font-bold"
                                        id="lastName"
                                        name="lastName"
                                        #name="ngModel"
                                        [(ngModel)]="item.lastName"
                                        (ngModelChange)="checkChanged()" />
                                </mat-form-field>
                                <mat-form-field class="col-span-1">
                                    <mat-label for="sex">Sex</mat-label>
                                    <mat-select
                                        placeholder="Select a Sex"
                                        class="form-control font-bold"
                                        id="sex"
                                        name="sex"
                                        #name="ngModel"
                                        [(ngModel)]="item.sex"
                                        (ngModelChange)="sexChanged()">
                                        <mat-option *ngFor="let x of sexs" [value]="x.value">
                                            {{ x.text }}
                                        </mat-option>
                                    </mat-select>
                                    <!-- <div *ngIf="sex?.invalid">
                                        <div *ngIf="sex?.errors?.required">Sex is required.</div>
                                    </div> -->
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label for="birthDate">Birth Date</mat-label>
                                    <input
                                        matInput
                                        [matDatepicker]="picker"
                                        class="form-control font-bold"
                                        id="birthDate"
                                        name="birthDate"
                                        #name="ngModel"
                                        [matDatepickerMin]="minDate"
                                        [matDatepickerMax]="maxDate"
                                        [(ngModel)]="item.birthDate"
                                        (ngModelChange)="checkChanged()" />
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>

                                    <!-- <div *ngIf="birthDate?.invalid && (birthDate?.dirty || date?.touched)">
                                        <div *ngIf="birthDate?.errors?.required">Date is required.</div>
                                        <div *ngIf="birthDate?.errors?.matDatepickerMin">
                                            Date must be after {{ minDate | date: 'shortDate' }}.
                                        </div>
                                        <div *ngIf="date?.errors?.matDatepickerMax">
                                            Date must be before {{ maxDate | date: 'shortDate' }}.
                                        </div>
                                    </div> -->
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label for="fiscalCode">Fiscal Code</mat-label>
                                    <input
                                        matInput
                                        class="form-control font-bold"
                                        id="fiscalCode"
                                        name="fiscalCode"
                                        #name="ngModel"
                                        [(ngModel)]="item.fiscalCode"
                                        (ngModelChange)="checkChanged()" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="grid grid-cols-12 gap-2 w-full">
                                <mat-form-field class="col-span-10">
                                    <mat-label for="companyName">Company Name</mat-label>
                                    <input
                                        matInput
                                        class="form-control font-bold"
                                        id="companyName"
                                        name="companyName"
                                        #name="ngModel"
                                        [(ngModel)]="item.companyName"
                                        (ngModelChange)="checkChanged()" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label for="taxCode">Tax Code</mat-label>
                                    <input
                                        matInput
                                        class="form-control font-bold"
                                        id="taxCode"
                                        name="taxCode"
                                        #name="ngModel"
                                        [(ngModel)]="item.taxCode"
                                        (ngModelChange)="checkChanged()" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="grid grid-cols-12 gap-2 w-full">
                                <mat-form-field class="col-span-6">
                                    <mat-label for="address">Address</mat-label>
                                    <input
                                        matInput
                                        class="form-control font-bold"
                                        id="address"
                                        name="address"
                                        #name="ngModel"
                                        [(ngModel)]="item.address"
                                        (ngModelChange)="checkChanged()" />
                                </mat-form-field>
                                <mat-form-field class="col-span-3">
                                    <mat-label for="city">City</mat-label>
                                    <input
                                        matInput
                                        class="form-control font-bold"
                                        id="city"
                                        name="city"
                                        #name="ngModel"
                                        [(ngModel)]="item.city"
                                        (ngModelChange)="checkChanged()" />
                                </mat-form-field>
                                <mat-form-field class="col-span-1">
                                    <mat-label for="cap">Cap</mat-label>
                                    <input
                                        matInput
                                        class="form-control font-bold"
                                        id="cap"
                                        name="cap"
                                        #name="ngModel"
                                        [(ngModel)]="item.cap"
                                        (ngModelChange)="checkChanged()" />
                                </mat-form-field>
                                <mat-form-field class="col-span-1">
                                    <mat-label for="regionalCode">Regional Code</mat-label>
                                    <input
                                        matInput
                                        class="form-control font-bold"
                                        id="regionalCode"
                                        name="regionalCode"
                                        #name="ngModel"
                                        [(ngModel)]="item.regionalCode"
                                        (ngModelChange)="checkChanged()" />
                                </mat-form-field>
                                <mat-form-field class="col-span-1">
                                    <mat-label for="stateCode">State Code</mat-label>
                                    <input
                                        matInput
                                        class="form-control font-bold"
                                        id="stateCode"
                                        name="stateCode"
                                        #name="ngModel"
                                        [(ngModel)]="item.stateCode"
                                        (ngModelChange)="checkChanged()" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="grid grid-cols-12 gap-2 w-full">
                                <mat-form-field class="col-span-2">
                                    <mat-label for="phone1">Phone 1</mat-label>
                                    <input
                                        matInput
                                        class="form-control font-bold"
                                        id="phone1"
                                        name="phone1"
                                        #name="ngModel"
                                        [(ngModel)]="item.phone1"
                                        (ngModelChange)="checkChanged()" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label for="phone2">Phone 2</mat-label>
                                    <input
                                        matInput
                                        class="form-control font-bold"
                                        id="phone2"
                                        name="phone2"
                                        #name="ngModel"
                                        [(ngModel)]="item.phone2"
                                        (ngModelChange)="checkChanged()" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label for="fax">Fax</mat-label>
                                    <input
                                        matInput
                                        class="form-control font-bold"
                                        id="fax"
                                        name="fax"
                                        #name="ngModel"
                                        [(ngModel)]="item.fax"
                                        (ngModelChange)="checkChanged()" />
                                </mat-form-field>
                                <mat-form-field class="col-span-6">
                                    <mat-label for="web">Web</mat-label>
                                    <input
                                        matInput
                                        class="form-control font-bold"
                                        id="web"
                                        name="web"
                                        #name="ngModel"
                                        [(ngModel)]="item.web"
                                        (ngModelChange)="checkChanged()" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="grid grid-cols-12 gap-2 w-full">
                                <mat-form-field class="col-span-4">
                                    <mat-label for="eMail">Email</mat-label>
                                    <input
                                        matInput
                                        class="form-control font-bold"
                                        id="eMail"
                                        name="eMail"
                                        #name="ngModel"
                                        [(ngModel)]="item.eMail"
                                        (ngModelChange)="checkChanged()" />
                                </mat-form-field>
                                <mat-form-field class="col-span-4">
                                    <mat-label for="eMailAccounting">Email Accounting</mat-label>
                                    <input
                                        matInput
                                        class="form-control font-bold"
                                        id="eMailAccounting"
                                        name="eMailAccounting"
                                        #name="ngModel"
                                        [(ngModel)]="item.eMailAccounting"
                                        (ngModelChange)="checkChanged()" />
                                </mat-form-field>
                                <mat-form-field class="col-span-4">
                                    <mat-label for="pec">Pec</mat-label>
                                    <input
                                        matInput
                                        class="form-control font-bold"
                                        id="pec"
                                        name="pec"
                                        #name="ngModel"
                                        [(ngModel)]="item.pec"
                                        (ngModelChange)="checkChanged()" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="grid grid-cols-12 gap-2 w-full">
                                <mat-form-field class="col-span-2">
                                    <mat-label for="externalCode">External Code</mat-label>
                                    <input
                                        matInput
                                        class="form-control font-bold"
                                        id="externalCode"
                                        name="externalCode"
                                        #name="ngModel"
                                        [(ngModel)]="item.externalCode"
                                        (ngModelChange)="checkChanged()" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label for="documentType">Document Type</mat-label>
                                    <mat-select
                                        placeholder="Select a Type"
                                        class="form-control font-bold"
                                        id="documentType"
                                        name="documentType"
                                        #name="ngModel"
                                        [(ngModel)]="item.documentType"
                                        (ngModelChange)="documentTypeChanged()">
                                        <mat-option *ngFor="let x of documentTypes" [value]="x.value">
                                            {{ x.text }}
                                        </mat-option>
                                    </mat-select>
                                    <!-- <div *ngIf="contactType?.invalid">
                                        <div *ngIf="contactType?.errors?.required">Type is required.</div>
                                    </div> -->
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label for="contactType">Type</mat-label>
                                    <mat-select
                                        placeholder="Select a Type"
                                        class="form-control font-bold"
                                        id="contactType"
                                        name="contactType"
                                        #name="ngModel"
                                        required
                                        [(ngModel)]="item.contactType"
                                        (ngModelChange)="contactTypeChanged()">
                                        <mat-option *ngFor="let x of contactTypes" [value]="x.value">
                                            {{ x.text }}
                                        </mat-option>
                                    </mat-select>
                                    <div *ngIf="contactType?.invalid">
                                        <div *ngIf="contactType?.errors?.required">Type is required.</div>
                                    </div>
                                </mat-form-field>
                                <mat-form-field *ngIf="item.contactType === 'Collaborator'" class="col-span-2">
                                    <mat-label for="percentageGuida">Guida %</mat-label>
                                    <input
                                        matInput
                                        type="number"
                                        class="form-control font-bold"
                                        id="percentageGuida"
                                        name="percentageGuida"
                                        min="0"
                                        max="100"
                                        step="0.1"
                                        [(ngModel)]="item.percentageGuida"
                                        (ngModelChange)="contactTypeChanged()" />
                                </mat-form-field>
                                <mat-form-field *ngIf="item.contactType === 'Collaborator'" class="col-span-2">
                                    <mat-label for="percentageAccompagnamento">Accompagnamento %</mat-label>
                                    <input
                                        matInput
                                        type="number"
                                        class="form-control font-bold"
                                        id="percentageAccompagnamento"
                                        name="percentageAccompagnamento"
                                        min="0"
                                        max="100"
                                        step="0.1"
                                        [(ngModel)]="item.percentageAccompagnamento"
                                        (ngModelChange)="contactTypeChanged()" />
                                </mat-form-field>
                                <mat-form-field *ngIf="item.contactType === 'Client'" class="col-span-2">
                                    <mat-label for="sdiCode">Sdi Code</mat-label>
                                    <input
                                        matInput
                                        class="form-control font-bold"
                                        id="sdiCode"
                                        name="sdiCode"
                                        #name="ngModel"
                                        [(ngModel)]="item.sdiCode"
                                        (ngModelChange)="checkChanged()" />
                                </mat-form-field>

                                <mat-slide-toggle
                                    *ngIf="item.contactType === 'Collaborator'"
                                    class="form-control font-bold"
                                    id="monitorStat"
                                    name="monitorStat"
                                    #name="ngModel"
                                    [(ngModel)]="item.monitorStat"
                                    (ngModelChange)="checkChanged()"
                                    >Monitor</mat-slide-toggle
                                >

                                <!-- <mat-form-field *ngIf="item.contactType === 'Collaborator'" appearance="outline">
                                    <mat-label for="monitorStat">Monitor Stat</mat-label>
                                    <div matInput style="border: none; outline: none">
                                        <mat-slide-toggle
                                            class="form-control font-bold"
                                            id="monitorStat"
                                            name="monitorStat"
                                            #name="ngModel"
                                            [(ngModel)]="item.monitorStat"
                                            (ngModelChange)="checkChanged()"
                                            >Monitor Stat</mat-slide-toggle
                                        >
                                    </div>
                                </mat-form-field> -->
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="grid grid-cols-12 gap-2 w-full">
                                <mat-form-field class="col-span-6">
                                    <mat-label for="languages">Language</mat-label>
                                    <mat-select
                                        multiple
                                        class="form-control font-bold"
                                        id="languages"
                                        name="languages"
                                        #name="ngModel"
                                        [(ngModel)]="item.languages"
                                        (ngModelChange)="checkChanged()">
                                        <mat-option *ngFor="let x of languages" [value]="x.code">{{
                                            x.code
                                        }}</mat-option>
                                    </mat-select>
                                    <!-- <div *ngIf="languages?.invalid">
                                        <div *ngIf="languages?.errors?.required">Language is required.</div>
                                    </div> -->
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>

            <!-- Note -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_outline:identification'"></mat-icon>
                    {{ 'Contact.Note' | transloco }}
                </ng-template>
                <ng-template matTabContent>
                    <div class="flex flex-col flex-1 overflow-y-auto">
                        <div class="flex flex-col">
                            <div class="grid grid-cols-12 gap-2 h-full w-full">
                                <mat-form-field class="col-span-12">
                                    <!-- <mat-label>Note</mat-label> -->
                                    <textarea
                                        matInput
                                        cdkTextareaAutosize
                                        cdkAutosizeMinRows="5"
                                        class="form-control font-bold h-full"
                                        id="note"
                                        name="note"
                                        #name="ngModel"
                                        [(ngModel)]="item.note"
                                        (ngModelChange)="checkChanged()"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>

            <!-- Attachments -->
            <mat-tab *ngIf="item?.id">
                <ng-template mat-tab-label>
                    <mat-icon
                        class="icon-size-5 mr-2"
                        [svgIcon]="'heroicons_outline:paper-clip'"
                        [ngClass]="{ 'red-icon': item?.attachmentsCount > 0 }"></mat-icon>
                    {{ 'General.Attachments' | transloco }}
                </ng-template>
                <ng-template matTabContent>
                    <div class="flex flex-col flex-1 overflow-y-auto">
                        <app-attachments
                            [entityName]="'Contact'"
                            [entityKey]="item?.id"
                            [edit]="true"
                            (onListChanged)="_refresh()"></app-attachments>
                    </div>
                </ng-template>
            </mat-tab>

            <!-- Target -->
            <mat-tab *ngIf="item.contactType === 'Collaborator'">
                <ng-template mat-tab-label>
                    <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_outline:chart-bar'"></mat-icon>
                    {{ 'Common.Target' | transloco }}
                </ng-template>
                <ng-template matTabContent>
                    <div class="flex flex-col flex-1 overflow-y-auto">
                        <div class="flex flex-col">
                            <app-target
                                [collaboratorId]="item.id"
                                [readOnly]="false"
                                (dataChanged)="targetChanged($event)"></app-target>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
