<div class="flex flex-col gap-3 p-2" style="min-width: 205px">
    <div style="flex-1">
        <mat-card class="demo-inline-calendar-card">
            <mat-calendar #calendar [selected]="date" (selectedChange)="onDateChange($event)"></mat-calendar>
        </mat-card>
    </div>
    <div class="flex flex-row justify-between w-full gap-3 mt-2">
        <button class="flex" mat-flat-button [color]="'primary'" (click)="preview()">
            <mat-icon [svgIcon]="'heroicons_outline:chevron-left'"></mat-icon>
        </button>

        <button class="flex" mat-flat-button [color]="'primary'" (click)="next()">
            <mat-icon [svgIcon]="'heroicons_outline:chevron-right'"></mat-icon>
        </button>
    </div>
</div>
