.fc-event-avatar {
    display: flex;
    align-items: center;
}

.avatar-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    border: black;
}

.event-details {
    display: flex;
    flex-direction: column;
}

.event-title {
    font-weight: bold;
}

.event-info {
    font-weight: normal;
}

.event-time {
    font-size: 0.8em;
    color: gray;
}

.color-box {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
    border: 1px solid black;
}

.example-header {
    display: flex;
    align-items: center;
    padding: 0.5em;
}

.example-header-label {
    flex: 1;
    height: 1em;
    font-weight: 500;
    text-align: center;
}

::ng-deep .date-badge {
    position: absolute;
    top: 1px;
    right: 1px;
    background: #ff4444;
    color: white;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    z-index: 10;
    pointer-events: none;
    transform: translate(50%, -50%);
    /* Sposta il badge fuori dalla cella */
}