<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SdiWrapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><applicationSettings>
        <SdiWrapper.Properties.Settings>
            <setting name="SdiWrapper_FatturaElettronicaAttiva_SolutionDOC_Hub"
                serializeAs="String">
                <value>https://hubfe.solutiondocondemand.com/solutiondoc_hub.asmx</value>
            </setting>
        </SdiWrapper.Properties.Settings>
    </applicationSettings>
</configuration>
