<div class="relative flex flex-col flex-auto shrink-0 lg:shrink p-3 lg:overflow-y-auto bg-gray-100 dark:bg-transparent"
    fuseScrollReset>
    <form [formGroup]="form"
        class="absolute inset-0 flex flex-col flex-0 shadow rounded-2xl overflow-hidden bg-card dark:bg-black dark:bg-opacity-10 m-4">
        <!-- Tabs -->
        <mat-tab-group class="view-service-tab-group"
            mat-stretch-tabs="false"
            [color]="form.valid ? 'primary' : 'warn'"
            [animationDuration]="'0'"
            (selectedTabChange)="onSelectedTabChange()">
            <!-- Service Info -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="icon-size-5 mr-2"
                        [svgIcon]="'heroicons_outline:information-circle'"></mat-icon>
                    {{ 'Service.ServiceInfo' | transloco }}
                </ng-template>
                <ng-template matTabContent>
                    <div class="flex flex-col flex-1 overflow-y-auto">
                        <!-- Tags -->
                        <!-- <tag-list [tags]="item?.tags" [viewMode]="'full'"></tag-list> -->

                        <div class="flex flex-col">
                            <div class="grid grid-cols-12 gap-2 w-full">
                                <mat-form-field class="col-span-2">
                                    <mat-label>Date</mat-label>
                                    <input matInput
                                        type="text"
                                        class="form-control font-bold"
                                        [readonly]="true"
                                        [value]="item?.dateText ? item.dateText : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label>Status</mat-label>
                                    <div class="status-container">
                                        <span [ngClass]="getStatusColorClass(item)"
                                            class="color-box"></span>
                                        <input matInput
                                            type="text"
                                            class="form-control font-bold"
                                            [readonly]="true"
                                            [value]="item?.status ? item.status : ''" />
                                    </div>

                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label>Code</mat-label>
                                    <input matInput
                                        type="text"
                                        class="form-control font-bold"
                                        [readonly]="true"
                                        [value]="item?.code ? item.code : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-6">
                                    <mat-label>Title</mat-label>
                                    <input matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.title ? item.title : ''" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="grid grid-cols-12 gap-2 w-full">
                                <mat-form-field class="col-span-2">
                                    <mat-label>Type</mat-label>
                                    <input matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.serviceType ? item.serviceType : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label>Duration</mat-label>
                                    <input matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.durationType ? item.durationType : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label>People</mat-label>
                                    <input matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.people ? item.people : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-6">
                                    <mat-label>Price List</mat-label>
                                    <input matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.priceList?.name ? item.priceList?.name : ''" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="grid grid-cols-12 gap-2 w-full">
                                <mat-form-field class="col-span-6">
                                    <mat-label>Location</mat-label>
                                    <input matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.location ? item.location : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-4">
                                    <mat-label>Language</mat-label>
                                    <input matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.languages ? item.languages : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label>Option Expiration</mat-label>
                                    <input matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.optionExpirationText ? item.optionExpirationText : ''" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="grid grid-cols-12 gap-2 w-full">
                                <mat-form-field class="col-span-6">
                                    <mat-label>Meeting Place</mat-label>
                                    <input matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.meetingPlace ? item.meetingPlace : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-4">
                                    <mat-label>Referent</mat-label>
                                    <input matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.referent ? item.referent : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label>Referent Phone</mat-label>
                                    <input matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.referentPhone ? item.referentPhone : ''" />
                                </mat-form-field>
                            </div>
                        </div>

                        <mat-accordion class="flex flex-col">
                            <mat-expansion-panel #card
                                [expanded]="true">
                                <mat-expansion-panel-header class="bg-primary py-4 px-8 rounded-none">
                                    <mat-panel-title>
                                        <div class="flex flex-1 justify-between items-center gap-2 text-white text-lg">
                                            <!-- <mat-icon [svgIcon]="'heroicons_solid:user-circle'"></mat-icon> -->
                                            <span>Client</span>
                                            <button mat-button
                                                class="flex flex-1 justify-end"
                                                (click)="openContact(item?.client); $event.stopPropagation()">
                                                View
                                            </button>
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div class="flex flex-col">
                                    <div class="grid grid-cols-12 gap-2 w-full">
                                        <mat-form-field class="col-span-2">
                                            <mat-label>Code</mat-label>
                                            <input matInput
                                                type="text"
                                                class="font-bold"
                                                [readonly]="true"
                                                [value]="item?.client?.code" />
                                        </mat-form-field>
                                        <mat-form-field class="col-span-10">
                                            <mat-label>Company Name</mat-label>
                                            <input matInput
                                                type="text"
                                                class="font-bold"
                                                [readonly]="true"
                                                [value]="item?.client?.companyName ? item.client.companyName : ''" />
                                        </mat-form-field>
                                    </div>
                                    <div class="grid grid-cols-12 gap-2 w-full">
                                        <mat-form-field class="col-span-2">
                                            <mat-label>Price Calculated</mat-label>
                                            <input matInput
                                                type="text"
                                                class="font-bold"
                                                [readonly]="true"
                                                [value]="item?.priceCalculated ? item.priceCalculated : ''" />
                                        </mat-form-field>
                                        <mat-form-field class="col-span-2">
                                            <mat-label>Price</mat-label>
                                            <input matInput
                                                type="text"
                                                class="font-bold"
                                                [readonly]="true"
                                                [value]="item?.price ? item.price : ''" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion class="flex flex-col mt-1">
                            <mat-expansion-panel #card
                                [expanded]="true">
                                <mat-expansion-panel-header class="bg-primary py-4 px-8 rounded-none">
                                    <mat-panel-title>
                                        <div class="flex flex-1 justify-between items-center gap-2 text-white text-lg">
                                            <!-- <mat-icon [svgIcon]="'heroicons_solid:user-circle'"></mat-icon> -->
                                            <span>Collaborator</span>
                                            <button mat-button
                                                class="flex flex-1 justify-end"
                                                (click)="openContact(item?.collaborator); $event.stopPropagation()">
                                                View
                                            </button>
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div class="flex flex-col">
                                    <div class="grid grid-cols-12 gap-2 w-full">
                                        <mat-form-field class="col-span-2">
                                            <mat-label>Code</mat-label>
                                            <input matInput
                                                type="text"
                                                class="font-bold"
                                                [readonly]="true"
                                                [value]="item?.collaborator?.code ? item.collaborator.code : ''" />
                                        </mat-form-field>
                                        <mat-form-field class="col-span-10">
                                            <mat-label>Name</mat-label>
                                            <input matInput
                                                type="text"
                                                class="font-bold"
                                                [readonly]="true"
                                                [value]="
                                                    item?.collaborator?.fullName ? item.collaborator.fullName : ''
                                                " />
                                        </mat-form-field>
                                    </div>
                                    <div class="grid grid-cols-12 gap-2 w-full">
                                        <mat-form-field class="col-span-2">
                                            <mat-label>Commission %</mat-label>
                                            <input matInput
                                                type="number"
                                                min="0"
                                                max="100"
                                                mdInput
                                                class="font-bold"
                                                [readonly]="true"
                                                [value]="item.commissionPercentage"
                                                percentFormatter
                                                percentDigits="1.2-2" />
                                        </mat-form-field>
                                        <mat-form-field class="col-span-2">
                                            <mat-label>Commission Calculated</mat-label>
                                            <input matInput
                                                type="text"
                                                class="font-bold"
                                                [readonly]="true"
                                                [value]="item?.commissionCalculated ? item.commissionCalculated : ''" />
                                        </mat-form-field>
                                        <mat-form-field class="col-span-2">
                                            <mat-label>Commission</mat-label>
                                            <input matInput
                                                type="text"
                                                class="font-bold"
                                                [readonly]="true"
                                                [value]="item?.commission ? item.commission : ''" />
                                        </mat-form-field>
                                    </div>
                                    <div class="grid grid-cols-12 gap-2 w-full">
                                        <mat-form-field class="col-span-12">
                                            <mat-label>Commission Note</mat-label>
                                            <input matInput
                                                type="text"
                                                class="font-bold"
                                                [readonly]="true"
                                                [value]="item?.commissionNote ? item.commissionNote : ''" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="icon-size-5 mr-2"
                        [svgIcon]="'heroicons_outline:pencil-square'"></mat-icon>
                    {{ 'General.Notes' | transloco }}
                </ng-template>
                <ng-template matTabContent>
                    <div class="flex flex-col flex-1 overflow-y-auto">
                        <div class="flex mt-8 whitespace-pre-wrap leading-relaxed">
                            {{ item?.note }}
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="icon-size-5 mr-2"
                        [svgIcon]="'heroicons_outline:paper-clip'"></mat-icon>
                    {{ 'General.Attachments' | transloco }}
                </ng-template>
                <ng-template matTabContent>
                    <div class="flex flex-col flex-1 overflow-y-auto">..todo..</div>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="icon-size-5 mr-2"
                        [svgIcon]="'heroicons_outline:code-bracket'"></mat-icon>
                    {{ 'General.Json' | transloco }}
                </ng-template>
                <ng-template matTabContent>
                    <div class="flex flex-col flex-1 overflow-y-auto">
                        <pre class="h-full overflow-auto">
                            {{ service | json }}
                        </pre>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>
