<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{ 'Admin.Console.Title' | transloco }}
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-4 sm:p-10">
        <div class="flex justify-end space-x-2">
            <button mat-flat-button color="primary" (click)="expandAll()">
                <mat-icon class="icon-size-5 mr-1" [svgIcon]="'heroicons_outline:chevron-double-down'"></mat-icon>
                <span>{{ 'General.ExpandAll' | transloco }}</span>
            </button>

            <button mat-flat-button color="primary" (click)="collapseAll()">
                <mat-icon class="icon-size-5 mr-1" [svgIcon]="'heroicons_outline:chevron-double-up'"></mat-icon>
                <span>{{ 'General.CollapseAll' | transloco }}</span>
            </button>
        </div>

        <!-- Configurations -->
        <section class="content mt-8">
            <mat-accordion class="console-accordion">
                <mat-expansion-panel [expanded]="configurationsPanelOpenState">
                    <mat-expansion-panel-header class="bg-blue-100 py-10 px-8 rounded-none">
                        <mat-panel-title class="text-2xl font-extrabold">
                            {{ 'Admin.Console.Configuration' | transloco }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="lg:flex flex-wrap">
                        <div class="w-full p-2 lg:w-1/2">
                            <!-- Backend Configuration -->
                            <mat-panel-title class="text-2xl font-extrabold mt-2">
                                {{ 'Admin.Console.BackendConfiguration' | transloco }}
                            </mat-panel-title>
                            <table mat-table [dataSource]="backendDataSource" class="min-w-full mt-5">
                                <!-- Display index -->
                                <ng-container matColumnDef="index">
                                    <th mat-header-cell *matHeaderCellDef class="px-4 py-2 border">#</th>
                                    <td mat-cell *matCellDef="let element; let i = index" class="px-4 py-2 border">
                                        {{ i }}
                                    </td>
                                </ng-container>

                                <!-- Key -->
                                <ng-container matColumnDef="key">
                                    <th mat-header-cell *matHeaderCellDef class="px-4 py-2 border">
                                        {{ 'Admin.Console.Key' | transloco }}
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="px-4 py-2 border">
                                        {{ element.key }}
                                    </td>
                                </ng-container>

                                <!-- Value -->
                                <ng-container matColumnDef="value">
                                    <th mat-header-cell *matHeaderCellDef class="px-4 py-2 border">
                                        {{ 'Admin.Console.Value' | transloco }}
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="px-4 py-2 border">
                                        {{ element.value }}
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr
                                    mat-row
                                    *matRowDef="let row; columns: displayedColumns"
                                    class="even:bg-white odd:bg-gray-100 border-b"></tr>
                            </table>
                        </div>

                        <div class="w-full p-2 lg:w-1/2">
                            <!-- Client Configuration -->
                            <mat-panel-title class="text-2xl font-extrabold mt-2">
                                {{ 'Admin.Console.ClientConfiguration' | transloco }}
                            </mat-panel-title>
                            <table mat-table [dataSource]="clientDataSource" class="min-w-full bg-white border mt-5">
                                <!-- Display index -->
                                <ng-container matColumnDef="index">
                                    <th mat-header-cell *matHeaderCellDef class="px-4 py-2 border">#</th>
                                    <td mat-cell *matCellDef="let element; let i = index" class="px-4 py-2 border">
                                        {{ i }}
                                    </td>
                                </ng-container>

                                <!-- Key -->
                                <ng-container matColumnDef="key">
                                    <th mat-header-cell *matHeaderCellDef class="px-4 py-2 border">
                                        {{ 'Admin.Console.Key' | transloco }}
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="px-4 py-2 border">
                                        {{ element.key }}
                                    </td>
                                </ng-container>

                                <!-- Value -->
                                <ng-container matColumnDef="value">
                                    <th mat-header-cell *matHeaderCellDef class="px-4 py-2 border">
                                        {{ 'Admin.Console.Value' | transloco }}
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="px-4 py-2 border">
                                        {{ element.value }}
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr
                                    mat-row
                                    *matRowDef="let row; columns: displayedColumns"
                                    class="even:bg-white odd:bg-gray-100 border-b"></tr>
                            </table>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </section>

        <!-- Utilities -->
        <section class="content mt-8">
            <mat-accordion class="console-accordion">
                <mat-expansion-panel [expanded]="utilitiesPanelOpenState">
                    <mat-expansion-panel-header class="bg-blue-100 hover:bg-blue-100 py-10 px-8 rounded-none">
                        <mat-panel-title class="text-2xl font-extrabold">
                            {{ 'Admin.Console.Utilities' | transloco }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="flex">
                        <div class="mt-4 basis-1/2">
                            <app-spinner-button
                                [loading]="waiting"
                                [label]="'Admin.Console.TruncateElmah' | transloco"
                                [svgIcon]="'heroicons_outline:trash'"
                                (callbackFn)="truncateElmah()"></app-spinner-button>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </section>

        <!-- Mail Notification -->
        <section class="content mt-8">
            <mat-accordion class="console-accordion">
                <mat-expansion-panel [expanded]="utilitiesPanelOpenState">
                    <mat-expansion-panel-header class="bg-blue-100 hover:bg-blue-100 py-10 px-8 rounded-none">
                        <mat-panel-title class="text-2xl font-extrabold">
                            {{ 'Admin.Console.MailNotification' | transloco }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="flex">
                        <div class="mt-4 basis-1/2">
                            <app-spinner-button
                                [loading]="waiting"
                                [label]="'Admin.Console.MailProposal' | transloco"
                                [svgIcon]="'heroicons_outline:paper-airplane'"
                                (callbackFn)="mailProposal()"></app-spinner-button>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </section>
    </div>
</div>
