.fc-event-avatar {
    display: flex;
    align-items: center;
}

.avatar-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    border: black;
}

.event-details {
    display: flex;
    flex-direction: column;
}

.event-title {
    font-weight: bold;
}

.event-info {
    font-weight: normal;
}

.event-time {
    font-size: 0.8em;
    color: gray;
}
