<div class="flex flex-1 overflow-hidden h-full">
    <div class="flex flex-1 flex-col">
        <div class="flex flex-1 flex-col overflow-hidden p-8">
            <!-- <pre>
                {{ form.value | json }}
            </pre> -->

            <form cdkTrapFocus [cdkTrapFocusAutoCapture]="true" [formGroup]="form">
                <!-- Name -->
                <div class="mt-8">
                    <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                        <mat-label>Name</mat-label>
                        <input matInput cdkFocusInitial [formControlName]="'name'" [placeholder]="'name'" />
                    </mat-form-field>
                </div>

                <!-- Description -->
                <div class="mt-8">
                    <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                        <mat-label>Description</mat-label>
                        <input matInput [formControlName]="'description'" [placeholder]="'description'" />
                    </mat-form-field>
                </div>

                <!-- Input for scope group -->
                <div class="mt-8">
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Scope group</mat-label>
                        <mat-select matInput formControlName="scopeGroupId">
                            <mat-option
                                *ngFor="let scopeGroup of allApplicationScopeGroups; trackBy: trackByFn"
                                [value]="scopeGroup.id">
                                {{ scopeGroup.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
        </div>

        <!-- Main actions -->
        <div
            class="flex items-center mt-auto sm:mt-0 md:mt-4 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent h-20 p-6">
            <!-- Delete -->
            <button
                *ngIf="!isCreate"
                mat-button
                [color]="'warn'"
                [matTooltip]="'General.Delete' | transloco"
                (click)="deleteScope()">
                {{ 'General.Delete' | transloco }}
            </button>

            <!-- Cancel -->
            <button class="ml-auto" mat-button [matTooltip]="'General.Cancel' | transloco" (click)="closeDetails()">
                {{ 'General.Cancel' | transloco }}
            </button>

            <!-- Save -->
            <button
                class="ml-2"
                mat-flat-button
                [color]="'primary'"
                [matTooltip]="'General.Save' | transloco"
                (click)="updateOrCreateScope()">
                {{ 'General.Save' | transloco }}
            </button>
        </div>
    </div>
</div>
