<div
    class="relative flex flex-col flex-auto shrink-0 lg:shrink p-3 lg:overflow-y-auto bg-gray-100 dark:bg-transparent"
    fuseScrollReset>
    <div
        class="absolute inset-0 flex flex-col flex-0 shadow rounded-2xl overflow-hidden bg-card dark:bg-black dark:bg-opacity-10 m-4">
        <!-- Tabs -->
        <mat-tab-group
            class="view-contact-tab-group"
            mat-stretch-tabs="false"
            [color]="form.valid ? 'primary' : 'warn'"
            [animationDuration]="'0'"
            (selectedTabChange)="onSelectedTabChange()">
            <!-- Contact Info -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_outline:information-circle'"></mat-icon>
                    {{ 'Service.ContactInfo' | transloco }}
                </ng-template>
                <ng-template matTabContent>
                    <div class="flex flex-col flex-1 overflow-y-auto">
                        <!-- Tags -->
                        <!-- <tag-list [tags]="item?.tags" [viewMode]="'full'"></tag-list> -->

                        <div class="flex flex-col">
                            <div class="grid grid-cols-12 gap-2 w-full">
                                <mat-form-field class="col-span-1">
                                    <mat-label>Code</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="form-control font-bold"
                                        [readonly]="true"
                                        [value]="item?.code ? item.code : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label>Title</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.title ? item.title : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label>First Name</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.firstName ? item.firstName : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label>Last Name</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.lastName ? item.lastName : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-1">
                                    <mat-label>Sex</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.sex ? item.sex : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label>Birth Date</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="form-control font-bold"
                                        [readonly]="true"
                                        [value]="item?.birthDateText ? item.birthDateText : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label>Fiscal Code</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.fiscalCode ? item.fiscalCode : ''" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="grid grid-cols-12 gap-2 w-full">
                                <mat-form-field class="col-span-10">
                                    <mat-label>Company Name</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.companyName ? item.companyName : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label>Tax Code</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.taxCode ? item.taxCode : ''" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="grid grid-cols-12 gap-2 w-full">
                                <mat-form-field class="col-span-6">
                                    <mat-label>Address</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.address ? item.address : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-3">
                                    <mat-label>City</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.city ? item.city : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-1">
                                    <mat-label>Cap</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.cap ? item.cap : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-1">
                                    <mat-label>Regional Code</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.regionalCode ? item.regionalCode : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-1">
                                    <mat-label>State Code</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.stateCode ? item.stateCode : ''" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="grid grid-cols-12 gap-2 w-full">
                                <mat-form-field class="col-span-2">
                                    <mat-label>Phone 1</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.phone1 ? item.phone1 : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label>Phone 2</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.phone2 ? item.phone2 : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label>Fax</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.fax ? item.fax : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-6">
                                    <mat-label>Web</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.web ? item.web : ''" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="grid grid-cols-12 gap-2 w-full">
                                <mat-form-field class="col-span-4">
                                    <mat-label>Email</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.eMail ? item.eMail : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-4">
                                    <mat-label>Email Accounting</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.eMailAccounting ? item.eMailAccounting : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-4">
                                    <mat-label>Pec</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.pec ? item.pec : ''" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="grid grid-cols-12 gap-2 w-full">
                                <mat-form-field class="col-span-2">
                                    <mat-label>External Code</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="form-control font-bold"
                                        [readonly]="true"
                                        [value]="item?.externalCode ? item.externalCode : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label>Document Type</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.documentType ? item.documentType : ''" />
                                </mat-form-field>
                                <mat-form-field class="col-span-2">
                                    <mat-label>Type</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.contactType ? item.contactType : ''" />
                                </mat-form-field>
                                <mat-form-field *ngIf="item.contactType === 'Collaborator'" class="col-span-2">
                                    <mat-label>Guida %</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.percentageGuida ? item.percentageGuida : ''" />
                                </mat-form-field>
                                <mat-form-field *ngIf="item.contactType === 'Collaborator'" class="col-span-2">
                                    <mat-label>Accompagnamento %</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="
                                            item?.percentageAccompagnamento ? item.percentageAccompagnamento : ''
                                        " />
                                </mat-form-field>
                                <mat-form-field *ngIf="item.contactType === 'Client'" class="col-span-2">
                                    <mat-label>Sdi Code</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="font-bold"
                                        [readonly]="true"
                                        [value]="item?.sdiCode ? item.sdiCode : ''" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon
                        class="icon-size-5 mr-2"
                        [svgIcon]="'heroicons_outline:pencil-square'"
                        [ngClass]="{ 'red-icon': item?.note?.length > 0 }"></mat-icon>
                    {{ 'General.Notes' | transloco }}
                </ng-template>
                <ng-template matTabContent>
                    <div class="flex flex-col flex-1 overflow-y-auto">
                        <div class="flex mt-8 whitespace-pre-wrap leading-relaxed">
                            {{ item?.note }}
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon
                        class="icon-size-5 mr-2"
                        [svgIcon]="'heroicons_outline:paper-clip'"
                        [ngClass]="{ 'red-icon': item?.attachmentsCount > 0 }"></mat-icon>
                    {{ 'General.Attachments' | transloco }}
                </ng-template>
                <ng-template matTabContent>
                    <div class="flex flex-col flex-1 overflow-y-auto">
                        <app-attachments [entityName]="'Contact'" [entityKey]="item?.id"></app-attachments>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_outline:square-3-stack-3d'"></mat-icon>
                    {{ 'Service.ContactAccountStatement' | transloco }}
                </ng-template>
                <ng-template matTabContent>
                    <app-account-statement
                        [contactId]="item?.id"
                        [contactType]="item.contactType"
                        class="h-full w-full"></app-account-statement>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_outline:square-3-stack-3d'"></mat-icon>
                    {{ 'Service.ContactAccountSummary' | transloco }}
                </ng-template>
                <ng-template matTabContent>
                    <app-collaborator-summary
                        *ngIf="item.contactType === 'Collaborator'"
                        [contactId]="item?.id"
                        class="h-full w-full"></app-collaborator-summary>
                    <app-client-summary
                        *ngIf="item.contactType === 'Client'"
                        [contactId]="item?.id"
                        class="h-full w-full"></app-client-summary>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_outline:code-bracket'"></mat-icon>
                    {{ 'General.Json' | transloco }}
                </ng-template>
                <ng-template matTabContent>
                    <div class="flex flex-col flex-1 overflow-y-auto">
                        <pre class="h-full overflow-auto">
                            {{ contact | json }}
                        </pre>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
