.scope-applications-tab-group {
    display: flex;
    flex: 1;
    height: 100%;
    margin-top: 1rem; /* 16px */
}

.scope-applications-tab-group .mat-mdc-tab-body-wrapper {
    flex-grow: 1;
}

.scope-applications-tab-group .mat-mdc-tab-body-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.application-scopes .mat-drawer-inner-container {
    display: flex;
}
