<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">
        <!-- Drawer -->
        <mat-drawer
            class="w-1/2 dark:bg-gray-900'"
            [ngClass]="detailsWidth + ' dark:bg-gray-900'"
            [mode]="drawerMode"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">
            <!-- Main -->
            <div class="flex-auto">
                <!-- Header -->
                <div
                    class="flex flex-col sm:sticky sm:inset-x-0 sm:top-0 sm:flex-row md:flex-col flex-auto justify-between py-8 px-6 md:px-8 border-b z-30 bg-card">
                    <!-- <app-back-button></app-back-button> -->

                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">
                            {{ 'Navigation.Users' | transloco }}
                        </div>
                        <div class="ml-0.5 font-medium text-secondary">
                            <ng-container *ngIf="results?.totalCount > 0">
                                {{ results?.totalCount ?? 0 }}
                            </ng-container>
                            {{
                                results?.totalCount
                                    | i18nPlural
                                        : {
                                              '=0': 'No users',
                                              '=1': 'user',
                                              other: 'users'
                                          }
                            }}
                        </div>
                    </div>

                    <!-- Main actions -->
                    <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
                        <!-- Search -->
                        <div class="flex-auto">
                            <mat-form-field class="fuse-mat-dense w-full min-w-90" subscriptSizing="dynamic">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>

                                <input
                                    matInput
                                    [formControl]="searchInputControl"
                                    [autocomplete]="'off'"
                                    [placeholder]="'Search'" />

                                <button
                                    type="button"
                                    *ngIf="searchInputControl.value"
                                    matSuffix
                                    mat-icon-button
                                    aria-label="Clear"
                                    (click)="searchInputControl.setValue('')">
                                    <mat-icon [svgIcon]="'heroicons_solid:x-mark'"></mat-icon>
                                </button>
                            </mat-form-field>
                        </div>

                        <!-- Add button -->
                        <button class="ml-4" mat-flat-button [color]="'primary'" (click)="createUser()">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            <span class="ml-2 mr-1">
                                {{ 'General.Add' | transloco }}
                            </span>
                        </button>
                    </div>
                </div>

                <!-- Users list -->
                <div class="relative">
                    <div class="flex justify-end items-center space-x-2">
                        <!-- View Mode -->
                        <app-view-mode-selector
                            class="p-4"
                            [viewMode]="viewMode"
                            (changed)="viewMode = $event"></app-view-mode-selector>
                    </div>

                    <app-user-list
                        [users]="users"
                        [viewMode]="viewMode"
                        [queryParameters]="queryParameters"
                        (userSelected)="onUserSelected($event)"></app-user-list>

                    <mat-paginator
                        class="sm:sticky sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [length]="results?.totalCount"
                        [pageSize]="queryParameters?.pageSize"
                        [pageIndex]="queryParameters?.pageIndex"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        (page)="handlePageEvent($event)"
                        [showFirstLastButtons]="true"></mat-paginator>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
