<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
    <!-- Proposte -->
    <div
        appHover
        hoverBgColor="bg-yellow-200"
        (hoverClick)="show('proposals')"
        class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Proposte</div>
        </div>
        <div class="flex flex-col items-center mt-2">
            <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">
                {{ serviceSummary?.proposals }}
            </div>
            <div class="text-lg font-medium text-amber-600 dark:text-amber-500">Proposte</div>
            <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                <div class="text-md font-medium truncate">Ultima settimana:</div>
                <div class="ml-1.5 text-lg font-semibold">{{ serviceSummary?.weekProposals }}</div>
            </div>
        </div>
    </div>
    <!-- Checked -->
    <div
        appHover
        hoverBgColor="bg-yellow-200"
        (hoverClick)="show('checked')"
        class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Confermati</div>
        </div>
        <div class="flex flex-col items-center mt-2">
            <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">
                {{ serviceSummary?.checked }}
            </div>
            <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Checked</div>
            <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                <div class="text-md font-medium truncate">Da assegnare:</div>
                <div class="ml-1.5 text-lg font-semibold">
                    {{ serviceSummary?.checkedToAssign }}
                </div>
            </div>
        </div>
    </div>
    <!-- To Do -->
    <div
        appHover
        hoverBgColor="bg-yellow-200"
        (hoverClick)="show('todo')"
        class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">To Do</div>
        </div>
        <div class="flex flex-col items-center mt-2">
            <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">
                {{ serviceSummary?.toDo }}
            </div>
            <div class="text-lg font-medium text-red-600 dark:text-red-500">To Do</div>
            <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                <div class="text-md font-medium truncate">In questa settimana:</div>
                <div class="ml-1.5 text-lg font-semibold">{{ serviceSummary?.weekToDo }}</div>
            </div>
        </div>
    </div>
    <!-- Done -->
    <div
        appHover
        hoverBgColor="bg-yellow-200"
        (hoverClick)="show('done')"
        class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Done</div>
        </div>
        <div class="flex flex-col items-center mt-2">
            <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-green-500">
                {{ serviceSummary?.done }}
            </div>
            <div class="text-lg font-medium text-green-600 dark:text-green-500">Done</div>
            <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                <div class="text-md font-medium truncate">In questa settimana:</div>
                <div class="ml-1.5 text-lg font-semibold">{{ serviceSummary?.weekDone }}</div>
            </div>
        </div>
    </div>
</div>
